{% extends 'base.html' %}

{% block referens %}
{% endblock %}


{% block title %}
    Ficha Medica
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">


                    <div class="panel panel-primary">
                        <div class="panel-heading">HISTORIAL CLINICO</div>
                            <div class="panel-body">
                                <div class="header">
                                    <h4 class="title">Enfermedades</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="content">
                                    <div class="table-full-width">


                                        <table class="table">
                                        {% if lista_fm_enfer %}
                                            <thead>
                                                <tr>
                                                    <th>descripción</th>
                                                    <th>detalles</th>
                                                    <th>fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%  for item in lista_fm_enfer %}
                                                <tr>
                                                    <td>{{ item.descripcion }}</td>
                                                    <td>{{ item.detalles }}</td>
                                                    <td>{{ item.fecha }}</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Editar" class="btn btn-info btn-simple btn-xs"
                                                        onclick="location.href='{% url "editFichaMedica" item.id %}';"><i class="fa fa-edit"></i></button>
                                                        <button type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-simple btn-xs">
                                                            <i class="fa fa-times"></i></button>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                                <thead>
                                                <tr>
                                                    <th>No hay ficha medica asociada con Enfermedades.</th>
                                                </tr>
                                                </thead>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div><br><br>


                                <!-- TABLA  de Cirujias -->
                                <div class="header">
                                    <h4 class="title">Cirujias</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="content">
                                    <div class="table-full-width">

                                        <table class="table">
                                            {% if lista_fm_cirujia %}
                                            <thead>
                                                <tr>
                                                    <th>descripción</th>
                                                    <th>detalles</th>
                                                    <th>fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%  for item in lista_fm_cirujia %}
                                                <tr>
                                                    <td>{{ item.descripcion }}</td>
                                                    <td>{{ item.detalles }}</td>
                                                    <td>{{ item.fecha }}</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Editar" class="btn btn-info btn-simple btn-xs">
                                                            <i class="fa fa-edit"></i></button>
                                                        <button type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-simple btn-xs">
                                                            <i class="fa fa-times"></i></button>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                                <thead>
                                                <tr>
                                                    <th>No hay ficha medica asociada con Cirujias.</th>
                                                </tr>
                                                </thead>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div> <br><br>


                                <!-- TABLA  de Alergias -->
                                <div class="header">
                                    <h4 class="title">Alergias</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="content">
                                    <div class="table-full-width">

                                        <table class="table">
                                            {% if lista_fm_alergia %}
                                            <thead>
                                                <tr>
                                                    <th>descripción</th>
                                                    <th>detalles</th>
                                                    <th>fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%  for item in lista_fm_alergia %}
                                                <tr>
                                                    <td>{{ item.descripcion }}</td>
                                                    <td>{{ item.detalles }}</td>
                                                    <td>{{ item.fecha }}</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Editar" class="btn btn-info btn-simple btn-xs">
                                                            <i class="fa fa-edit"></i></button>
                                                        <button type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-simple btn-xs">
                                                            <i class="fa fa-times"></i></button>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                                <thead>
                                                <tr>
                                                    <th>No hay ficha medica asociada con Alergias.</th>
                                                </tr>
                                                </thead>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div> <br><br>




                                <!-- TABLA  de Tratamientos -->
                                <div class="header">
                                    <h4 class="title">Tratamientos</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="content">
                                    <div class="table-full-width">

                                        <table class="table">
                                            {% if lista_fm_tratami %}
                                            <thead>
                                                <tr>
                                                    <th>descripción</th>
                                                    <th>detalles</th>
                                                    <th>fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%  for item in lista_fm_tratami %}
                                                <tr>
                                                    <td>{{ item.descripcion }}</td>
                                                    <td>{{ item.detalles }}</td>
                                                    <td>{{ item.fecha }}</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Editar" class="btn btn-info btn-simple btn-xs">
                                                            <a href="{% url "editFichaMedica" item.id %}"></a><i class="fa fa-edit"></i></button>
                                                        <button type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-simple btn-xs">
                                                            <i class="fa fa-times"></i></button>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                                <thead>
                                                <tr>
                                                    <th>No hay ficha medica asociada con Tratamientos.</th>
                                                </tr>
                                                </thead>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div> <br><br>

                            <a href="/corazon/paciente" class="btn btn-info" role="button">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>Atras</a>

                            </div>
                        </div>
                    </div>

{#            termina card#}
            </div>
        </div>
    </div>
</div>



{% endblock %}