{% load staticfiles %}
{% load bootstrap %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->
<head>
    <meta charset="UTF-8" />
    <title>SAFE HEART | Login Page </title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- GLOBAL STYLES -->
     <!-- PAGE LEVEL STYLES -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/magic/magic.css' %}" />

</head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->
<body >

   <!-- PAGE CONTENT --> 
    <div class="container">
    <div class="text-center">
        <img src="{% static 'img/logo12.png' %}" id="logoimg" alt=" Logo" />
    </div>

    <div class="login-form">
        <div id="login" class="tab-pane active">
            
            <form class="form-signin" method="POST"> {% csrf_token %}

                <h1>Iniciar sesión</h1>


            
                <br>
                
                {{form|bootstrap}}

                <!--<input name="username" type="text" placeholder="Usuario" class="form-control" />
                <input name="password" type="password" placeholder="Contraseña" class="form-control" />-->
                {% if next %}
                    <input type="hidden" name="next" value="{{next}}">
                {% else %}
                    <input type="hidden" name="next" value="/">
                {% endif %}
                 <button class="log-btn"  type="submit">Ingresar</button><br><br><br>

                
                {% if mensaje %}
                    <div class="alert alert-danger ">{{mensaje}}</div>
                {% endif %} 

            </form>
        </div>


    </div>

</div>

      <!--END PAGE CONTENT -->     
          
      <!-- PAGE LEVEL SCRIPTS -->
    <script src="{% static 'plugins/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
      <!--END PAGE LEVEL SCRIPTS -->

</body>
    <!-- END BODY -->
</html>
